body {
  font-family: -apple-system, BlinkMacSystemFont,"Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell","Fira Sans", "Droid Sans",
  "Helvetica Neue", sans-serif;

}

.cabecalho {
  padding: 1.2rem;
}

.site-content{
  margin: 10px;
}


.titulo-principal {
  text-align: center;
  max-height: 4.5rem;
  margin-top: 30px;

}

.produtos {
  text-align: center;
  /* background-color: green; */
  margin: 10px;
  padding: 85px;
}

.site-footer {
    background-color: #6666;
    padding: 2.5rem;
}
