body,
html {
    height: 100%;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

.tablinka {
    background-color: rgb(255, 255, 255);
    color: rgb(3, 152, 158);
    float: left;
    border: none;
    outline: none;
    padding: 10px 10px;
    font-size: 18px;
    width: 25%;
    border-radius: 3px;
    width: 200px;
    margin-top: 10px;
}

.tablink {
    background-color: rgb(255, 255, 255);
    color: rgb(7, 95, 98);
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 10px;
    font-size: 15px;
    width: 25%;
    border-radius: 3px;
    width: 200px;
    margin-top: 10px;
}

.tablink:hover {
    background-color: rgb(3, 152, 158);
    color: rgb(255, 255, 255);
}

.img {
    width: 400px;
    height: 400px;
    float: right;
    margin-right: 150px;
    margin-bottom: 500px;
    top: 50px;
}


/*  img:hover {
    width: 410px;
    height: 410px;
}*/

p {
    margin-left: 50px;
    font-stretch: condensed;
}

h3,
h4 {
    color: rgb(3, 152, 158);
    font-size: 27px;
    margin-top: 50px;
    margin-left: 50px;
}

h3:hover {
    color: rgb(104, 104, 104);
    width: 150px;
    margin-left: 45px;
}

h2 {
    color: rgb(119, 119, 119);
    font-size: 17px;
    margin-left: 50px;
}

.tabcontent {
    color: rgb(104, 104, 104);
    display: 50px;
    padding: 100px 20px;
    height: 50%;
    font-size: 20px;
}

.tablinkb {
    background-color: rgb(3, 152, 158);
    color: rgb(255, 255, 255);
    font-size: 20px;
    border-radius: 3px;
    margin-left: 100px;
    margin-top: 30px;
    border: none;
    outline: none;
    width: 280px;
    height: 50px;
}

.tablinkb:hover {
    background-color: rgb(104, 104, 104);
    color: rgb(255, 255, 255);
}

.itens {
    width: 110px;
    align-items: center;
    margin-top: 50px;
    margin-left: 100px;
}

.itensa {
    width: 110px;
}

h5 {
    float: left;
    font-size: 15px;
    margin-left: 50px;
}

h5:hover {
    color: rgb(3, 152, 158);
    border-radius: 3px;
}

h6 {
    color: rgb(119, 119, 119);
    font-size: 20px;
}